$hsbc-red: #DB0011;
$helvetica: Helvetica, Arial, "Lucida Grande", sans-serif;
$helvetica-neue: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$header-black: #252525;
$subheader-grey: #9B9B9B;
