
// Global stylesheet
 body {
   background-color: #f2f2f2;
 }
 p {
   font-family: $helvetica-neue;
 }

 h1,
 h3 {
   color: $header-black;
   font-family: $helvetica-neue;
   font-weight: bold;
 }

 a {
   font-family: $helvetica;
 }

 .footer {
   @include media-breakpoint-up(md) {
     background-image: url('../assets/images/calc-form-bottom-bg.png');
     background-position: center bottom;
     background-repeat: no-repeat;
     background-size: 1730px;
     width: 100%;
     height: 240px;
     margin-top: 100px;
   }
 }


 // Continue Button styles
.continue {
  text-align: center;

  a {
    display: inline-block;
    font-family: $helvetica-neue;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 2px;
    text-decoration: none;
    color: $white;
  }

  .continue-btn {
    background-color: #008580;
  }

  .red-submit-btn {
    background-color: $hsbc-red;
  }
}

// Custom tooltip styles

.custom-tooltip {
  background: rgba(0, 0, 0, 0) url(../assets/images/icon-info-red.svg) no-repeat scroll center top / 60% auto;
  cursor: help;
  height: auto;
  padding-bottom: 41px;
  width: 10%;
  position: relative;
  // right: 17px;
  top: 0;
  // margin-left: 10px;

  @include media-breakpoint-up(md) {
    margin-left: 12px;
    position: absolute;
    right: -311px;
    top: 5px;
    z-index: 2;
  }

}

.tooltip-box {
  background: #fff none repeat scroll 0 0;
  border-top: 3px solid #db0011;
  box-shadow: 0 2px 6px 1px #cccccc;
  display: none;
  font-size: 13px;
  left: -241px;
  padding: 10px;
  position: absolute;
  right: -50%;
  top: 44px;
  width: 274px;
  z-index: 10;

  @include media-breakpoint-up(md) {
    left: -243px;
    top: 34px;

  }

  &:before {
    bottom: 100%;
    left: 92.6%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(245, 34, 41, 0);
    border-bottom-color: #f52229;
    border-width: 10px;
    margin-left: -10px;

    @include media-breakpoint-up(md) {
      left: 94.5%;
    }
  }

  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}

// Form styles

.form-box {
  max-width: 314px;
  background: #F8F8F8;
  box-shadow: 0 1px 9px 0 rgba(201,201,201,0.50);
  padding-top: 26px;
  padding-bottom: 26px;
  margin-top: 28px;

  h3 {
    font-size: 14px;
  }

  @include media-breakpoint-up(md) {
    max-width: 100%;
    padding: 0;
    box-shadow: none;
    background-color: $white;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.question {
  padding-bottom: 16px;
  flex-direction: row;
  display: flex;

  @include media-breakpoint-down(sm){
    justify-content: space-between;
  }
}

.questions-row {
  margin-top: 30px;
}

.option-box {
  display: flex;
  width: 98%;
  margin: 0 auto;
  //
  .right-border{
    border-right: 1px solid #949DA4;
  }

  .is-active {
    background-color: #486476;
    color: $white;
  }

  a {
    width: 50%;
    text-transform: capitalize;
    background-color: #DCDCDC;
    text-align: center;
    color: #4A4A4A;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
  }
}

.border-input {
  font-size: 12px;
  border: 0;
  border-bottom: 2px solid #000;
  width: 100%;
  background-color: transparent;
  padding: 0 0 15px;
  color: #545f63;
  font-weight: bold;
  text-align: center;
  text-align: left;

  &::placeholder {
    font-size: 12px;
  }
}

// Custom Radio button label stylesheet
.switch-field {
  // padding: 40px;
  overflow: hidden;
  display: flex;
  width: 100%;
  margin: 0 auto;

  input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

    &::placeholder {
      font-size: 12px;
    }

    &:checked + label {
      background-color: #486476;
      box-shadow: none;
      color: $white;
    }
  }

  label {
    display: inline-block;
    width: 100%;
    background-color: #DCDCDC;
    color: #4A4A4A;
    font-size: 12px;
    text-align: center;
    text-shadow: none;
    padding: 8px 0;
    font-family: $helvetica-neue;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  .right-border {
    border-right: 1px solid #949DA4;
  }
}

// Select styledSelect

.options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid #ccc;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-top: 4px solid #DB0011;
  overflow: scroll;
  height: 198px;
  text-align: left;

  li {
    border-bottom: 2px solid #eee;
    color: #545f63;
    font-size: 15px;
    margin: 0;
    padding: 20px 10px;
  }
}

.styledSelect {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  // padding: 0 10px;
  font-weight: bold;
  color: #545f63;
  font-family: $helvetica-neue;
  font-weight: bold;
  text-align: left;
  font-size: 12px;



  @include media-breakpoint-up(md) {
    padding: 0;
    font-size: 14px;
    top: 0;
  }

  &:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 6px;
  }
}

.select {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: 0;
  border-bottom: 2px solid #000;
  padding: 10px 5px 8px;
}

.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}

// Auto Complete input text styledSelect

.autoFillContainer {
  position: relative;
}

// Custom Radio Button styles

.radio-parent {
  display: flex;
  flex-direction: column;
}

/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .radio-label {
    font-family: $helvetica-neue;
    font-weight: bold;
    color: #9B9B9B;
    font-size: 15px;
  }
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 10px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $white;;
  border: 2px solid #767676;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: $white;
  border: 2px solid #DB0010;
}

//  FIX ME
.radio-container input:checked ~ .radio-label {
  color: #DB0010;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #DB0010;
}


// Custom checkbox styling

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
  }

  // Box hover
  &:hover + label:before {
    background: $white;
  }

  // Box focus
  &:focus + label:before {
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $hsbc-red;
  }

  // Disabled state label.
  &:disabled + label {
    color: $white;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 24px;
    top: 12px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}
