#internet-banking-login {
  padding-bottom: 50px;

  .topHeader {
    text-align: center;
    margin-top: 36px;

    @include media-breakpoint-up(md) {
      margin-top: 90px;
    }

    .container {
      @include media-breakpoint-up(md) {
        max-width: 740px;
      }

      h1 {
        font-size: 24px;

        @include media-breakpoint-up(md) {
          font-size: 40px;
        }
      }
    }
  }

  .content {
    margin-top: 60px;

    .container {

      &:nth-child(1),
      &:nth-child(3) {
        max-width: 312px;
      }

      &:nth-child(1),
      &:nth-child(3) {
        @include media-breakpoint-up(md) {
          max-width: 350px;
        }
      }

      &:nth-child(2) {
        max-width: 300px;

        @include media-breakpoint-up(md) {
          max-width: 695px;
        }
      }

      .continue {
        margin-top: 60px;
      }

      .options-container {
        margin-top: 40px;

        p {
          color: #9B9B9B;
          font-weight: bold;
        }

        .option-box {
          margin-top: 30px;
        }

        @include media-breakpoint-up(md) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 90px;

          p {
            width: 40%;
            margin-bottom: 0;
          }

          .option-box {
              width: 40%;
              margin-top: 0;
          }
        }
      }

      .secure-key-container {
        position: relative;
        margin-top: 40px;


        @include media-breakpoint-up(md) {
          margin-top: 80px;
        }

        h3 {
          font-size: 16px;
        }

        .custom-tooltip {
          position: absolute;
          right: 0;
          top: 33px;
        }
      }

      .existing-password-container {
        // display: none;
        margin-top: 40px;
        display: none;


        h3 {
          font-size: 16px;
        }

        .enter-chracters {
          margin-top: 20px;
          display: flex;
          justify-content: space-around;
          input {
            width: 38px;
          }
        }


        .forgot-user {
          font-size: 12px;
          color: #7D7D7D;
          display: block;
          margin-top: 10px;
          text-decoration: underline;
          text-align: center;

          &:first-of-type {
            margin-top: 40px;
          }

          &:hover {
            // text-decoration: none;
          }
        }
      }
    }
  }


}
