#loan-application-1{
  padding-bottom: 40px;
  @include media-breakpoint-up(md){
    padding-bottom: 0;
  }

  .progress-bar {
    width: 100%;
    height: 5px;
    background-color: #CFCFCF;
    .red-bar {
      height: 5px;
      width: 75%;
      background-color: $hsbc-red;
    }
  }

  .topCopy {
    max-width: 342px;
    margin-top: 30px;

    h1 {
      font-size: 24px;

      &:last-of-type {
        display: none;
      }
    }

    h2 {
      font-size: 16px;
      color: $subheader-grey;
      margin-top: 20px;
    }

    p {
      display: none;
    }

    @include media-breakpoint-up(md) {
      max-width: 1136px;
      text-align: left;
      margin-top: 60px;

      h1 {
        font-size: 40px;

        &:first-of-type {
          display: none;
        }

        &:last-of-type {
          display: block;
        }
      }

      p {
        display: block;
        font-family: $helvetica-neue;
        font-weight: bold;
        margin: 0;

      }
    }
  }

  .main-container {
    @include media-breakpoint-up(md) {
      max-width: 1136px;
    }
  }

  .loan-container {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: 40px;
    }


    .loan-chart {

      @include media-breakpoint-up(md) {
        max-width: 315px;
        margin-right: 0;
      }


      .loan-circle {
        height: 300px;
        width: 300px;
        border-radius: 100%;
        border: 16px solid $hsbc-red;
        margin: 0 auto;
        position: relative;

        .loan-values {
          position: absolute;
          // border: 1px solid blue;
          text-align: center;
          top: 38px;

          .header {
            font-size: 12px;
            font-family: $helvetica;
            color: #9B9B9B;
            text-transform: uppercase;
          }

          p {
            margin: 0;
          }

          .loan-amount {
            display: flex;
            align-items: baseline;
            justify-content: center;
            border-bottom: 2px solid black;
            position: relative;

            &:after {
              bottom: -20px;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(245,34,41,0);
              border-bottom-color: black;
              border-width: 10px;
              margin-left: -10px;
              transform: rotate(180deg);
            }

            h2 {
              font-weight: bold;
              font-family: $helvetica-neue;
              font-size: 46px;
            }

            h3 {
              font-family: $helvetica;
              font-size: 12px;
              margin-left: 6px;
            }
          }

          .loan-payment {
            display: flex;
            margin-top: 14px;
            justify-content: space-evenly;

            .years-container,
            .payment-container {
              width: 50%;
            }

            .years,
            .payment {
              display: flex;
              justify-content: center;
            }

            p {
              font-family: $helvetica;
              font-size: 11px;
              color: #9B9B9B;
            }

            span {
              font-family: $helvetica;
              font-size: 11px;
              margin-top: 3px;
              text-transform: uppercase;

            }

            h5 {
              font-family: $helvetica;
              font-weight: bold;
              margin: 0;
              font-size: 26px;
            }

            .payment {
              span {
                margin-right: 5px;
              }
            }

            .years {
              span {
                margin-left: 5px;
              }
            }
          }

          .rate-container {
            margin-top: 14px;

            p {
              color: #9B9B9B;
              font-family: $helvetica;
            }

            .rate {
              display: flex;
              justify-content: center;

              h5 {
                font-family: $helvetica;
                font-weight: bold;
                margin: 0;
                font-size: 26px;
              }
            }
          }
        }
      }
    }
  }

  .loan-settings {
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      width: 64%;
      margin-top: 0;
    }

    .loan-slider {
      background-color: $white;
      padding: 20px;

      p {
        font-weight: bold;
      }

      .slider-labels {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
      }

      .bottom-slider {
        margin-top: 20px;
      }
    }
  }

  .app-ref-number {
    border-top: 5px solid $hsbc-red;
    background-color: $white;
    margin-top: 36px;
    padding: 30px;

    p {
      margin-bottom: 2px;
    }

    h5 {
      font-weight: bold;
    }
  }

  .app-ref-number-mobile {

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .app-ref-number-desktop {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      padding: 10px 20px;
    }
  }

  .form-box {
    max-width: 510px;
    background-color: $white;

    input {
      &::placeholder {
        font-size: 12px;

        @include media-breakpoint-up(md) {
          font-size: 14px;
        }
      }
    }

    .top-spacing{
      margin-top: 26px;
    }

    h3 {
      color: #777777;
    }

    .font-black {
      color: $black;
    }

    .form-subtitle {
      font-weight: bold;
    }

    .question-grey {
      color: #777777;
      font-weight: bold;
    }

    .select {

      .styledSelect {
        padding: 0;
      }
    }

    @include media-breakpoint-up(md) {
      max-width: 100%;
      padding: 60px 20px;

    }
  }

  .glance-info {
    margin-top: 30px;
    padding-right: 16px;

    h5 {
      // border: 1px solid red;
      font-weight: bold;
    }

    p {
      margin-top: 10px;
      padding-right: 46px;
    }

    span {
      font-weight: bold;
    }

    .red-border {
      width: 30px;
      border-bottom: 5px solid $hsbc-red;
    }

    ul {
      padding-left: 0;

      li {
        list-style: none;
        padding: 10px 0;
        border-top: 1px solid #DCDCDC;

        &:last-of-type {
          border-bottom: 1px solid #DCDCDC;
        }

        a {
          font-family: $helvetica-neue;
          font-weight: bold;
          color: $black;
          padding-left: 40px;
          position: relative;

          &:before {
            content: "";
            width: 20px;
            height: 20px;
            // border: 1px solid red;
            position: absolute;
            left: 0;
            background-image: url('../assets/images/red-arrow.svg');
            background-repeat: no-repeat;
            background-position: center bottom;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .glance-info-mobile {

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .glance-info-desktop {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .continue {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 272px;
    margin: 0 auto;
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 552px;
      margin-top: 50px;
    }

    .red-submit-btn {
      @include media-breakpoint-up(md) {
        padding: 10px 45px;
      }
    }

    .red-submit-border {
      backgorund-color: transparent;
      border: 2px solid $hsbc-red;
      color: $hsbc-red;
      margin-top: 20px;
      padding: 10px 16px;

      @include media-breakpoint-up(md) {
        margin-top: 0;
        padding: 10px 66px;
      }
    }
  }



}
