#otp-login {
  padding-bottom: 50px;

  .topHeader {
    text-align: center;
    margin-top: 36px;

    @include media-breakpoint-up(md) {
      margin-top: 90px;
    }

    .container {

      max-width: 344px;

      @include media-breakpoint-up(md) {
        max-width: 740px;
      }

      h1 {
        font-size: 24px;

        @include media-breakpoint-up(md) {
          font-size: 40px;
        }
      }

      p {
        font-size: 18px;
        font-weight: bold;
        margin-top: 60px;

        @include media-breakpoint-up(md) {
          font-size: 16px;

          &:last-of-type {
            margin-top: 20px;
          }
        }

        &:first-of-type {
          margin-top: 60px;
        }
      }
    }
  }

  .content {
    margin-top: 60px;

    .container {
      max-width: 312px;

      @include media-breakpoint-up(md) {
        max-width: 350px;
      }

      .forgot-user {
        font-size: 12px;
        color: #7D7D7D;
        display: block;
        margin-top: 20px;
        text-decoration: underline;
        text-align: center;

        &:hover {
          // text-decoration: none;
        }
      }

      .continue {
        margin-top: 60px;
      }

    }
  }


}
